.about{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    padding: 1vh 10vw;
    align-items: center;
}
.title{
    grid-column: 3/11;
    text-align: center;
}
.cardsContainer{
    grid-column: 3/11;
    padding: 1rem;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    overflow: auto;
}
.cardsContainer::-webkit-scrollbar {
    width: 5px;   
    height: 5px;            /* width of the entire scrollbar */
    background: none;
}

.cardsContainer::-webkit-scrollbar-track {
    background: none;       /* color of the tracking area */
    width: 5px;
    height: 5px;
}

.cardsContainer::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color:rgba(51, 51, 51, 0.2);    /* color of the scroll thumb */
    border-radius: 2.5px;       /* roundness of the scroll thumb */
    border: none; /* creates padding around scroll thumb */
}
