.footer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    padding: 5rem;
    align-items: center;
    background-color: var(--sc4);
}
.info{
    grid-column: 5/11;
    display: flex;
    justify-content: space-around;
}
.footer div p, .footer div h3{
    color: var(--sc3);
}
