.footer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    padding: 10vw;
    align-items: center;
    background-color: var(--sc4);
}
.img{
    width: 100%;
    height: auto;
    grid-column: 3/5;
}
.info{
    grid-column: 5/11;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
