.footer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    align-items: center;
    background-color: var(--sc4);
}
.info{
    grid-column: 5/11;
    display: flex;
    justify-content: space-around;
}
.img{
    grid-column: 3/5;
}
.footer div p, .footer div h3{
    color: var(--sc3);
}
@media(max-width:1024px){
    .footer{
        padding: 2rem 0;
        gap: 0;
    }
    .img{
        display: none;
    }
    .info{
        grid-column: 3/11;
    }
    .info h3, .info p{
        font-size: 10px;
    }
}