.highLights{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 1rem 10vw;
    align-items: center;
}
.orderMenu{
    grid-column: 3/11;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cards{
    padding: 1rem;
    grid-column: 3/11;
    grid-row: 2/3;
    display:grid;
    grid-auto-flow: column;
    gap:20px;
    overflow:auto;
}

.cards::-webkit-scrollbar {
    width: 5px;   
    height: 5px;            /* width of the entire scrollbar */
    background: none;
}

.cards::-webkit-scrollbar-track {
    background: none;       /* color of the tracking area */
    width: 5px;
    height: 5px;
}

.cards::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color:rgba(51, 51, 51, 0.2);    /* color of the scroll thumb */
    border-radius: 2.5px;       /* roundness of the scroll thumb */
    border: none; /* creates padding around scroll thumb */
}


@media(max-width:1024px){
    .orderMenu{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .highLights{
        padding: 0;
    }
}
