.container{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto 1fr auto;
    background-color: var(--sc3);
}
.flagGreen{
    width: 100%;
    height: auto;
    display: grid;
    background-color: var(--pc1);
}
