*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root{
  --pc1: #495E57;
  --pc2:#F4CE14;
  --sc1:#EE9972;
  --sc2:#FBDABB;
  --sc3:#EDEFEE;
  --sc4:#333333;
}

a{
  text-decoration: none;
}

.diplay-text{
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: var(--pc2);
}

.diplay2-text{
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 77px;
  color: var(--sc4);
}


.sub-title-text{
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: var(--sc3);
}
.header-link-text{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 00;
  font-size: 1rem;
  line-height: 48px;
  color: var(--sc3);
}
.lead-text{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--sc3);
}
.section-title-text{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--sc4);
}
.section-categories-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--sc4);
}
.card-title-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--sc4);
}
.paragraph-text{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--sc4);
}
.paragraph-card-text{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--sc1);
}
.highligth-text{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--pc1);
}
.error{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--sc1);
}